body {
    background-color: white;
    margin: 0px;
}

.container {
    display: flex;
    background-color: #F6F1F1;
    height: 100vh;
}

.link-content {
    background-color: black;
    color: white;
    height: 100vh;
    width: 275px;
    text-align: center;
}
.main-content {
    display: flex;
    flex-direction: row;
    background-color: red;
    padding: 10px;
    justify-content: center;
    width: 100%;
}
.form-content {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.form-column {
    display: flex;
    flex-direction: space-between;
    padding: 0px;
    border: 1px solid black;
}
.form-cell {
    flex: 1;
    border: 1px solid black;
    padding: 5px;
}

/* blue light: 19A7CE
blue dark: 146C94
*/