html, body {
    background-color: black;
    display: flex;
    margin: 0;
    height: 100vh;
    flex-direction: column;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: aqua;
}

.head-bold {
    font-size: 15px;
    font-weight: bold;
}

/* .container {
    display: flex;
    flex: 1 1 auto;
    background-color: #F6F1F1;
} */

.link-content {
    background-color: black;
    color: aqua;
    text-align: center;
}

.center {
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F1F1;
    padding: 10px;
    width: 100%;
    border: 0px solid black;
}

.inner-content {
    background-color: #F6F1F1;
    padding: 10px;
    width: 95%;
    border: 0px solid black;
}

.form-content {
    display: flex;
    flex-direction: column;
    border: 0px solid black;
}

.form-column {
    flex-direction: space-between;
    padding: 0px;
    border: 1px solid black;
}

.form-cell {
    width: max-content;
    border: 1px solid black;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

input {
    width: 250px;
    height: 25px;
    border: 1px solid black;
}

select {
    width: 256px;
    height: 25px;
    border: 1px solid black;
}

.form-text {
    font-weight: bold;
}

footer {
    background-color: aqua;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: stretch;
    margin-bottom: 0 0 0 auto;
}

/* blue light: 19A7CE
blue dark: 146C94
*/